
nav{
    display: flex;
    justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #04aa6d;
  margin: 5px 5px;
  font-size: 20px;
  border: 1px solid #04aa6d;
  padding: 10px 15px;
}
nav a:hover{
    background-color: #04aa6d;
    color: white;
    padding: 10px 15px;
}
.login-container {
  display: flex;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px 10px;
}
.login-form input {
  margin-top: 1em;
  font-size: 1.5em;
  padding: 10px 10px;
}
.login-form input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
